.index * {
  box-sizing: border-box;
}

/* html { */
/*   font-family: sans-serif; */
/*   -ms-text-size-adjust: 100%; */
/*   -webkit-text-size-adjust: 100%; */
/*   box-sizing: border-box; */
/* } */

body {
  margin: 0;
}

/* body { */
/*   color: hsla(0, 0%, 0%, 0.8); */
/*   line-height: 1.5; */
/*   font-family: georgia, serif; */
/*   font-weight: normal; */
/*   word-wrap: break-word; */
/*   font-kerning: normal; */
/*   -moz-font-feature-settings: "kern", "liga", "clig", "calt"; */
/*   -ms-font-feature-settings: "kern", "liga", "clig", "calt"; */
/*   -webkit-font-feature-settings: "kern", "liga", "clig", "calt"; */
/*   font-feature-settings: "kern", "liga", "clig", "calt"; */
/* } */

.index {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;

  color: hsla(0, 0%, 0%, 0.8);
  line-height: 1.5;
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
.index h1 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 1.45rem;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 2.25rem;
  line-height: 1.1;
}

.index h2 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.62671rem;
  line-height: 1.1;
  text-align: center;
}

.index h3 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1.38316rem;
  line-height: 1.1;
}

.index h4 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 1rem;
  line-height: 1.1;
}

.index h5 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.85028rem;
  line-height: 1.1;
}

.index h6 {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding-bottom: 0;
  padding-left: 0;
  padding-right: 0;
  padding-top: 0;
  margin-bottom: 1.45rem;
  color: inherit;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: bold;
  text-rendering: optimizeLegibility;
  font-size: 0.78405rem;
  line-height: 1.1;
}

.index section:not(.about) {
  margin-top: 1.45rem;
  max-width: 600px;
  margin: 0 auto;
  padding: 1.45rem;
}

/* About Section */
.index .about {
  text-align: center;
  margin-top: 2.45rem;
  margin-bottom: 2.45rem;
  padding: 1.45rem;
}

.index .about p {
  max-width: 600px;
  margin: 0 auto;
  padding: 1.45rem;
}

.index .about ul {
  margin: 0;
  padding: 0;
}

.index .about h1 {
  font-size: 4rem;
  font-size: calc(2rem + 3vw);
}

.index .about li {
  display: inline-block;
  padding: 0.5rem;
}

.index .about a {
  text-decoration: none;
  color: #90A1B0;
}

.index .about a:hover {
  color: #6A7885;
}

.index .about img {
    max-width: 250px;
    margin: 0 auto;
    box-sizing: content-box;
    border: 10px solid hsla(0, 0%, 0%, .8);
    border-radius: 50%;
}

@media (min-width: 1000px) {
  .index .about h1 {
    font-size: 4rem;
  }
}

@supports (display: flex) {
  .index .about {
    margin: initial;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100vw;
  }
}

/* Projects Section */

.index .projects div > * {
    margin: 0;
}

.index .projects div {
    margin-top: 1rem;
}

.index .projects div > * ~ * {
    margin-top: 1rem;
}

.index .projects .meta > * {
    margin-bottom: 0.3rem;
}

.index .projects div img {
    width: 100%;
    height: auto;
}

.index .projects > div {
    /* padding: 1.25rem; */
    margin-top: 2rem;
}

.index .projects > div .outsideLink {
    display: inline-block;
    padding: 0.5rem;
    color: hsla(0, 0%, 0%, .8);
    border: 2px solid hsla(0, 0%, 0%, .8);
}

.index .projects > div .outsideLink:hover {
    background-color: hsla(0, 0%, 0%, .8);
    color: white;
}

/* .projects > div:nth-of-type(odd) { */
/*     background-color: hsla(0, 0%, 0%, .8); */
/*     color: hsla(0, 0%, 96%, 1); */
/* } */

.index .projects > div:nth-of-type(even) {
    /* background-color: hsla(0, 0%, 0%, .2); */
}
/* .projects div h3 { */
/*     text-align: center; */
/* } */

/* .projects .role { */
/*     text-align: center; */
/* } */

.index .projects .timeframe {
    /* text-align: center; */
    font-style: italic;
}

.index .projects div .tools {
    display: flex;
    /* justify-content: center; */
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
}

.index .projects div .tools li {
    display: inline-block;
    font-style: italic;
}

.index .projects div .tools li:not(:last-of-type):after {
    content: "\2022";
    margin: 0 0.5rem;
}

.index .projects a {
  text-decoration: none;
  color: #90A1B0;
}

.index .projects a:hover {
  color: #6A7885;
}

@supports (display: grid) {
    /* .projects { */
    /*     display: grid; */
    /*     grid-gap: 1.5rem; */
    /*     grid-template-columns: 1fr; */
    /* } */

    /* @media (min-width: 600px) { */
    /*     .projects { */
    /*         grid-template-columns: 1fr 1fr; */
    /*     } */

    /*     .projects h2 { */
    /*         grid-column: span 2; */
    /*     } */
    /* }  */
}
