$sans-font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
$serif-font-stack: georgia, serif;

.paletteBlog {
    display: grid;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem;

    grid-template-columns: 1fr;
    grid-template-rows: minmax(300px, 1fr);
    grid-gap: 3rem;
    
    // font stuff
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;

    line-height: 1.5;
    font-family: $sans-font-stack;

    font-weight: normal;
    word-wrap: break-word;
    font-kerning: normal;
    -moz-font-feature-settings: "kern", "liga", "clig", "calt";
    -ms-font-feature-settings: "kern", "liga", "clig", "calt";
    -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
    font-feature-settings: "kern", "liga", "clig", "calt";

    .content {

        * {
            margin: 0;
        }

        * + * {
            margin-top: 1.5em;
        } 

        h2 {
            font-family: $sans-font-stack;
        }

        .date {
            font-weight: bold; 
            font-family: $sans-font-stack;
        }

    }

    @media(min-width: 800px) {
        grid-template-columns: 1fr 1fr;
    }
}
